<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="host" value="localhost"/>
    <add key="user" value="root"/>
    <add key="password" value=""/>
    <add key="schema" value="skype"/>
    <add key="port" value="3306"/>
    <add key="hipAuth" value=""/>
    <add key="botAuth" value=""/>
    <add key="hipRoom" value=""/>
  </appSettings>
</configuration>